<h1>Welcome to Grind</h1>

<p><strong>Grind</strong> is an RPG-ish click-heavy game set in a dystopian future.
Obviously, it was "inspired" by various stupid facebook games.</p>

<p>This app was built in 9 hours for the <a href="http://pinoyrb.org">PhRUG</a> 
<a href="http://rubyrumblepractice.eventbrite.com/">Ruby Rumble Practice</a>. 
Source code is available <a href="http://github.com/bryanbibat/grind">here</a>.</p>

<p>This build is locked to the one demoed at the event so expect a lot of bugs 
and missing features. <br/>
A more up-to-date build will be announced later.</p>

<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <% if devise_mapping.rememberable? -%>
    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
  <% end -%>

  <p><%= f.submit "Sign in" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
