!!!
%html
  %head
    %title Grind
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    %p.notice= notice
    %p.alert= alert
    .auth
      - if user_signed_in?
        = "Welcome #{ current_user.email }"
        = link_to "sign out", destroy_user_session_path
      - else
        = link_to "sign in", new_user_session_path
        \|
        = link_to "sign up", new_user_registration_path
    .sidebar
      Sidebar goes here
      - if user_signed_in?
        %p
          = "Level: #{ current_user.level }"
          %br
          = "HP: #{ current_user.health }"
          %br
          = "Energy: #{ current_user.energy }"
          %br
          = "Credits: #{ current_user.credits }"
          %br
          = "XP: #{ current_user.xp }/#{current_user.xp_for_next_level}"
        %p
          = link_to "Home", root_path
          %br
          = link_to "Inventory", "#"
          %br
          = link_to "Missions", missions_path

        - if current_user.admin?
          %p
            = link_to "Mission Maintenance", admin_missions_path
            %br
            = link_to "Item Maintenance", admin_items_path

    .content
      = yield
